:root {
  --dark_background: #1F2937;
  --hero_main_text: #F9FAF8;
  --hero_second_text: #E5E7EB;
  --heeader_logo_text: #F9FAF8;
  --button_color: #3882F6;
  --information_header: #1F2937;
  --quote_section_background: #E5E7EB;
  --quote_text: #1F2937;
}

body {
  font-family: Verdana, sans-serif;
}

.header {
  height: 100px;
  display: flex;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: var(--dark_background);
  color: var(--hero_main_text);
}

.header-left {
  margin-top: 10px;
  margin-right: auto;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 10px;
  padding: 0px;
  gap: 10px;
}

.main-header {
  display: flex;
  background-color: var(--dark_background);
  color: var(--hero_main_text);
}

.main-header-title {
  font-size: 48px;
  font-weight: bolder;
}

.main-header-secondary {
  font-size: 18px;
  color: hero_second_text;
}

.header-link-text {
  font-size: 18px;
  color: hero_second_text;
}

button {
  background-color: var(--button_color);
  color: var(--hero_main_text);
}

.information-header {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;

}

.images {
  display: flex;
  justify-content: center; 
  gap: 30px; 
}

.images-text {
  display: flex;
  justify-content: center; 
  gap: 30px; 
}

.main-image {
  max-width: 400px;
}

.minisquare {
  max-width: 100px;
}

.quote-block {
  padding: 20px 150px;
  background-color: var(--quote_section_background);
}

.quote-text {
  font-style: italic;
  font-size: 36px;
  font-weight: lighter;
}
.quote-author {
  text-align: right;
  font-size: 22px;
  font-weight: bold;
}

.action-block {
  margin: 30px;
  display: flex;
  background-color: var(--button_color);
  color: var(--hero_main_text);
}

.footer {
  text-align: center;
  background-color: var(--dark_background);
  color: var(--hero_main_text);
}


